*{
  margin:0;
  padding:0;
}

html{
  color:#333;
    text-align:center;
}

h1,
h2,
h3{
  padding:15px;
}

a.logo{
  margin-top:75px;
  display:block;
  margin-bottom:-150px;
}

a.phone{
  width:300px;
  display:block;
  margin: 0 auto 0 auto;
}
a.phone img{
  width:100%;
  margin-bottom:0;
  margin-right:-10%;
}

div.services{
font-family: 'Open Sans', sans serif;
font-size:18px;
color:white;
background-color:rgb(14,80,102);
}

div.services ul li{
display:inline-block;
border-right:1px solid white;
padding:2px 10px;
}

div.services ul li:last-child{
border-right:0;
}

h1{
  font-size:185px;
  line-height:185px;
}

h2{
  font-size:112px;
  line-height:112px;

}
h3{
  font-size:150px;
  line-height:150px;
}

p{
  font-family: 'Open Sans', sans serif;
  text-align:justify;
}

img{
  max-width:1100px;
  margin-bottom:30px;
}

li{
  list-style:disc;
}

body{

   background-image: -webkit-linear-gradient(top, white, rgb(220, 220, 220)); 

   background-image: -moz-linear-gradient(top, white, rgb(220, 220, 220));
 
   background-image: -ms-linear-gradient(top, white, rgb(220, 220, 220));

   background-image: -o-linear-gradient(top, white, rgb(220, 220, 220));
}

form{
  padding:10px;
  font-size:14px;
  font-family: 'Coustard', serif;
  padding-top:0;
}

form input,
form select,
form textarea{
  width:100%;
  max-width:800px;
  padding:5px;
  box-sizing:border-box;
  border:none;
  display:block;
  font-size:16px;
  margin:0 auto 10px auto;
}

form label {
  margin-bottom:5px;
  display:block;
  color:rgb(83, 83, 83);
}

form textarea{
  min-height:70px;
  resize:vertical;
}

form input[type=submit]{
  background:#666;
  color:white;
  transition: background 0.5s ease-out;
  margin-bottom:0;
  max-width:300px;
  border-radius:15px;
}

form input[type=submit]:hover{
  background:#999;
}

aside img{
  max-width:200px;
}

aside{
  width:200px;
  padding:10px;
  position:fixed;
  top:20px;
  right:20px;
}

aside a{
  width:63px;
  height:64px;
  display:block;
  margin-left:160px;
  opacity:0.5;
  -webkit-transition:opacity 0.5s ease-out;
  -moz-transition:opacity 0.5s ease-out;
  -ms-transition:opacity 0.5s ease-out;
  transition:opacity 0.5s ease-out;
}

aside a:hover{
  opacity:1;
}

a.facebook{
  background: url(social/facebook.png);
}

a.twitter{
  background: url(social/tweet.png);
}

a.googleplus{
  background: url(social/google.png);
}

a.linkedin{
  background: url(social/linkedin.png);
}

div.teasers{
  font-size:0;
  margin: 0 auto;
  max-width:1450px;
}

div.teasers div{
  display:inline-block;
  width:300px;
  min-height:400px;
  border:1px solid;
  vertical-align:top;
  margin-right:30px;
  margin-bottom:30px;
  padding:15px;
  position:relative;
  border-radius:3px;
}

div.teasers div.quote{
  background-color:rgb(208, 208, 208);
}

div.teasers div h3{
  font-size:35px;
  line-height:50px;
  font-family: 'Coustard', serif;
  text-shadow:0px 1px 2px rgba(100, 100, 100, 0.7);
}

div.teasers div p{
  font-size:16px;
}

div.teasers div a{
  font-family: 'Coustard', serif;
  font-size:15px;
  color:black;
  text-decoration:none;
  padding:5px;
  border:1px solid black;
  border-radius:2px;
  background-color:rgb(237, 237, 237);
  display:inline-block;
  position:absolute;
  bottom:10px;
  right:10px;
  display:none;
}

div.teasers div a.imglink{
  background:none;
  padding:0;
  position:relative;
  border:none;
  bottom:auto;
  right:auto;
}

div.teasers div img{
  max-width:300px;
}

div.advantages-wrapper{ 
  padding:50px 0;
  margin-bottom:40px;
}

div.advantages-wrapper img{
  max-height:300px;
  background-position:top right;
}
div.advantages{
  background-image:url(images/face.png);
  background-repeat:no-repeat;
  background-position:top right;
  background-size:auto 100%;
  max-width:350px;
  height:550px;
  margin:10px auto 40px auto;
  padding-right:750px;
  padding-top:10px;
  padding-bottom:20px;
}

div.advantages li{
  
}

div.advantages p{
  font-family: 'Coustard', serif;
  font-size:75px;
  font-color:rgb(24,49,82); 
  line-height:80px;
  text-align:left;
  text-shadow:0px 2px 5px grey;
  padding-top:30px;
}

div.advantages form{
  width:380px;
  text-align: left;
}

div.advantages input{
  font-size:16px;
  margin:20px 4px;
  width:264px;
  display:inline-block;
  border:1px solid black;
  border-radius:3px;
}

div.advantages button{
  font-size:16px;
  line-height:16px;
  color:black;
  text-decoration:bold;
  padding:5px 15px;
  border:3px solid black;
  border-radius:14px;
  background-color:rgb(173,217,201);
  display:inline-block;
  max-width:200px;
}

div.advantages button span{
  font-size:10px;
}

a.calltoaction{
  font-size:30px;
  color:black;
  text-decoration:none;
  padding:5px;
  border:1px solid black;
  border-radius:2px;
  background-color:rgb(237, 237, 237);
  display:inline-block;
  float:right;
}

li.required,
li.type{
  list-style:none;
  color:red;
  font-style:italic;
}

div.testimonial{
  padding:10px;
  max-width:1365px;
  margin:0 auto;
}

div.testimonial blockquote{
  font-family: 'Open Sans', sans serif;
  background-color:lightgrey;
  font-size:19px;
  max-width:500px;
  padding:20px 10px 10px 150px;
  margin:10px;
  position:relative;
  text-align:left;
  min-height:220px;
  vertical-align:top;
  quotes:"\201C""\201D""\2018""\2019";
  display:inline-block;
}

div.testimonial blockquote:before{
  font-family: 'Coustard', serif;
  color:grey;
  content: open-quote;
  position: absolute;
  top: -60px;
  left: -2px;
  font-size: 300px;
}
div.testimonial blockquote:after{
  content:close-quote;
  font-size:0;
}
div.testimonial blockquote strong{
  display:block;
  margin-top:8px;
}

footer p{
  font-size:14px;
  text-align:center;
  padding:20px;
}

footer a{
  color:black;
}

@media all and (min-width:1281px){
  a.phone{
    margin-top:-60px;
  }
  a.phone img{
    margin-right:-277px;
  }
}

@media all and (min-width:801px) and (max-width:1280px){
  img {
    width: 100%;
    margin-bottom: 0;
  }
  aside{
    position:relative;
    width:100%;
    top: 0;
    right: 0;
    padding: 0;
  }
  aside img{
    display:none;
  }
  aside a{
    margin-left:0;
    display:inline-block;
  }
  div.advantages-wrapper{
    padding:0;
    margin:0;
  }
  div.advantages{
    max-width: 520px;
    margin: 0 auto;
    height:auto;
    padding-right: 300px;
    background-position:top right;
    background-size:50% auto;
  }
}
@media all and (max-width:800px){
  img {
    width: 100%;
    margin-bottom: 0;
  }
  aside{
    position:relative;
    width:100%;
    top: 0;
    right: 0;
    padding: 0;
  }
  aside img{
    display:none;
  }
  aside a{
    margin-left:0;
    display:inline-block;
  }
  div.advantages-wrapper{
    padding:0;
    margin:0;
  }
  div.advantages{
    padding:75% 0 0 0;
    margin:0;
    max-width: 100%;
    height:auto;
    background-position:top center;
    background-size:90% auto;
  }
  div.advantages form{
    padding:20px;
    width:auto;
    text-align: center;
  }
  div.advantages p {
    font-size:40px;
    line-height:42px;
    text-align: center;
    margin:20px 20px 10px 20px;
  }
  div.teasers div{
    margin:20px;
  }
}
