*{
  margin:0;
  padding:0;
  color:#333;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Gilda Display', serif;
}

body{
  background:#333;
}

div#background{
  font-family: 'Cinzel', serif;
  position:fixed;
  top:0;
  left:0;
  width:120%;
  height:100%;
  z-index:2;
  overflow:hidden;
  background:#222;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}

div#background p{
  font-size:48px;
  line-height:48px;
  word-spacing:1px;
  color:#282828;
  text-transform:uppercase;
  font-weight:bold;
}
div#background span{
  color:#333;
}
article{
  position:relative;
  z-index:10;
  max-width:520px;
  margin:20px auto;
  background:white;
  border-radius:5px;
}

blockquote{
  font-style: italic;
  background:#333;
  color:white;
  font-size:14px;
  line-height:18px;
  padding:20px;
  margin: 0 20px;
  border-radius: 5px;
}

span.reference{
  font-style:normal;
  font-size:16px;
  color: white;
  display:block;
  text-align:right;
  margin-top:8px;
}

section{
  background:white;
  padding:20px;
}
section:nth-child(even){
  background:#f7f7f7;
}

h1{
  font-family: 'Oxygen', sans-serif;
  font-size:32px;
  font-weight:bold;
  margin-bottom:10px;
  text-shadow:1px 1px 3px #666;
}

h1 img{
  width:100%;
}

h2{
  font-size:24px;
  margin-bottom:8px;
  text-transform:uppercase;
  letter-spacing:-1px;
}

h2.subtitle{
  font-family: 'Oxygen', sans-serif;
  font-weight:bold;
  text-transform:none;
  text-shadow:1px 1px 3px #666;
}

h3{
  font-family: 'Oxygen', sans-serif;
  font-weight:lighter;
  margin-bottom:18px;
  text-shadow:1px 1px 3px #666;
}

ul{
  padding-left:20px;

}
li{
  margin-bottom:8px;
}

ul.feature{
  margin-top:20px;
  padding-left:0;
  text-align:center;
}

ul.feature li{
  margin:0;
  list-style:none;
  display:inline-block;
  margin: 0 4px;
}

ul.feature img{
  
}

p{
  font-size:16px;
  line-height:20px;
  margin-bottom:8px;


}
.float-right{
  float:right;
  margin-left:8px;
  margin-bottom:8px;
}
@media all and (max-width: 520px){
  div{
    display:none;
  }
  article{
    margin:0 auto;
    border-radius:0;
  }
}

